.center-wrapper {
    text-align: center !important;
}

.center-wrapper * {
    margin: 0 auto !important;
}

.stamp {
    width: 80%;
    margin: 10%;
    padding: 5%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid;
    border-radius: 5px;
}

.stamp > img {
    width: 100%;
}

.pageCount {
    text-align: center;
}

.ui-li-count.ui-btn-up-c.ui-btn-corner-all {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.new-avatar {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.new-form {
    display: inline-block;
    width: 58%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.hidden {
    visibility: hidden;
}