* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}


#login {
    background: linear-gradient(#497BAE, #6FACD5);
}

.app-title {
    text-align: center;
}
.app-title h1 {
    color: #ffffff;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

#login-panel {
    margin: 0 10%;
    padding: 5% 10%;
}

#login-panel + div a {
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    color: white;
    font-size: smaller;
}

#login-feedback {
    text-align: center;
}

#login-feedback span, #register-feedback span {
    text-shadow: none;
    color: darkred;
    font-size: smaller;
    display: inline-block;
}

#register {
    background: linear-gradient(#497BAE, #6FACD5);
}

#register-panel {
    margin: 0 10%;
    padding: 0;
}

#register-panel label {
    text-shadow: none;
    color: white;
    margin: 0;
    font-size: smaller;
}

#register-panel .ui-grid-a .ui-block-a {
    padding-right: 2%;
}

#register-panel .ui-grid-a .ui-block-b {
    padding-left: 2%;
}

#register-panel + div a {
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    color: white;
    font-size: smaller;
}

.input-warning {
    color: darkred;
}


#news, #teach, #study, #setup {
    display: none;
}

#icon-news:after {
    background: url("../img/home-news.svg") 50% 50% no-repeat;
    background-size: contain;
}

#icon-teach:after {
    background: url("../img/home-teach.svg") 50% 50% no-repeat;
    background-size: contain;
}

#icon-study:after {
    background: url("../img/home-study.svg") 50% 50% no-repeat;
    background-size: contain;
}

#icon-setup:after {
    background: url("../img/home-setup.svg") 50% 50% no-repeat;
    background-size: contain;
}

#message-list li h2 {
    white-space: normal;
    font-weight: normal;
}

#message-list p {
    display: inline-block;
}

#message-list .sender, #message-list .lesson {
    color: #3388cc !important;
}

#message-list .time {

}

#individual-lesson {
    padding-left: 10%;
}

.pageCount {
    background-color: transparent !important;
    border: 0 !important;
}

.unusedCount {
    background-color: transparent !important;
    border: 0 !important;
}

.icon-btn-in-ctrlgrp {
    border-radius: 1em !important;
    padding: 0.5em !important;
}

.ui-li-count.ui-btn-up-c.ui-btn-corner-all {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.new-avatar {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.new-avatar img {
    width: 80%;
    margin: 10%;
}

.new-form {
    display: inline-block;
    width: 58%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#topup-dialog-popup {

    width: 80%;
    left: 10%;
    right: 10%;
}

#new-student-daytime-dialog-popup {
    /*
    left: 0 !important;
    top: auto !important;
    bottom: 0 !important;
    */
}

.hidden {
    visibility: hidden;
}

@keyframes wobble {
    from {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
    }
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: rotate(1deg);
    }
    to {
        -webkit-transform: rotate(-1deg);
    }
}

.wobbly {
    animation-duration: 0.2s;
    animation-name: wobble;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: wobble;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stampspage-content {
    overflow: visible;
}

.stamps-container {
    padding: 0;
    position: relative;
    width: 100%;
    overflow: visible;
}

/*
#s-con-0 .stamp {
    border: 1px solid red;
}

#s-con-1 .stamp {
    border: 1px solid green;
}
*/

.stamps-container > .stamp-box {
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.stamp {
    width: 85%;
    margin: 7%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid;
    border-radius: 5px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    position: relative;
}

.stamp > img.checkmark {
    width: 80%;
    margin: 10%;
}

.stamp > img.x-delete {
    position: absolute;
    width: 25%;
    height: 25%;
    top: -12.5%;
    left: -12.5%;
}

/* See later in the blog post for a cleaner way to generate these rules */
.stamps-container > .stamp-box:nth-child(1) {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
}

.stamps-container > .stamp-box:nth-child(2) {
    -webkit-transform: translate3d(100%, 0%, 0);
    transform: translate3d(100%, 0%, 0);
}

.stamps-container > .stamp-box:nth-child(3) {
    -webkit-transform: translate3d(200%, 0%, 0);
    transform: translate3d(200%, 0%, 0);
}

.stamps-container > .stamp-box:nth-child(4) {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.stamps-container > .stamp-box:nth-child(5) {
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
}

.stamps-container > .stamp-box:nth-child(6) {
    -webkit-transform: translate3d(200%, 100%, 0);
    transform: translate3d(200%, 100%, 0);
}

.stamps-container > .stamp-box:nth-child(7) {
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.stamps-container > .stamp-box:nth-child(8) {
    -webkit-transform: translate3d(100%, 200%, 0);
    transform: translate3d(100%, 200%, 0);
}

.stamps-container > .stamp-box:nth-child(9) {
    -webkit-transform: translate3d(200%, 200%, 0);
    transform: translate3d(200%, 200%, 0);
}

.bar-delete {
    /*
    margin-right: 5px;
    display: inline-block;
    position: static !important;
    */
}

.ui-li-divider {
    border: 1px solid #456F9A;
    background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0% 0% #5E87B0;
    color: white !important;
    text-shadow: 0px 1px 1px #3E6790 !important;
}

.wide-header {
    margin-left: 10%;
    margin-right: 10%;
}

ul.delete-solo-btn {
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

ul.delete-solo-btn li {
    border: 0 !important;
    background-color: transparent !important;
}

ul.delete-solo-btn li a {
    background-color: darkred !important;
}

#ajax-error-alert {
    position: fixed;
    display: none;
    opacity: 0;
    background-color: lightgrey;
    text-align: center;
    color: darkred;
    text-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
}