.center-wrapper {
    text-align: center !important;
}

.center-wrapper * {
    margin: 0 auto !important;
}

.stamp {
    width: 80%;
    margin: 10%;
    padding: 5%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid;
    border-radius: 5px;
}

.stamp > img {
    width: 100%;
}

.pageCount {
    text-align: center;
}

.hidden {
    visibility: hidden;
}